{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Welcome To Taskmate !</title>
{% endblock title %}

{% block content %}
    <div class= "container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="{%static 'images/cat.jpg' %}" alt ="Animals" class="rounded-lg shadow-lg" width="360" height= "250">
            </div>
            <div class="col-lg-4">
                <img src="{%static 'images/cat.jpg' %}" alt ="Animals" class="rounded-lg shadow-lg" width="360" height= "250">
            </div>
            <div class="col-lg-4">
                <img src="{%static 'images/cat.jpg' %}" alt ="Animals" class="rounded-lg shadow-lg" width="360" height= "250">
            </div>
        </div>
        <div class ="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-primary"> Quick And Easy To Use, Anytime, Anywhere!</p></center>
                <center><p class="h2 mt-5"> "Plan Your Day Better, Get Your Life Organized" </p></center>
                <center><p class="h5 mt-3"> TASKMATE Lets You Keep Track Of Your In One Place.</p></center>

                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-5 shadow-lg">Let's Get Started</button></a></center>
            </div>
        </div>
    </div>
{% endblock content %}